main {
  display: flex;
}

hr {
  width: 100%;
}

textarea {
  width: 100%;
  height: 75px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-row label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea {
  display: flex;
}
